* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  flex-direction: column;
  display: flex;
}
header {
  background-color: darkslategray;
  color: blue;
  display: flex;
  gap: 10px;
  align-items: center;
}
header a {
  color: white;
}
header ul {
  list-style: none;
  display: flex;
}
#log {
  margin: auto;
  font-size: 40px;
}
a {
  text-decoration: none;
}

#menu li {
  padding: 10px;
}
#social-link li {
  padding: 10px;
}
.service-container {
  display: flex;
}
.box {
  border: 1px solid red;
}
