* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  flex-direction: column;
  display: flex;
}
header {
  background-color: yellowgreen;
  color: blue;
  display: flex;
  gap: 10px;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
}
#log {
  margin: auto;
}
a {
  text-decoration: none;
}

#menu li {
  padding: 10px;
}
#social-link li {
  padding: 10px;
}
